<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans %}About{% endtrans %}</title>
</head>
<body>
<p>{% trans %}Just to test internationalization with FastAPI{% endtrans %}</p>
</body>
</html>